spring:
  profiles:
    include:
    - jwt
    - db
  jpa:
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging.level:
  org.hibernate.SQL: debug